mixin feature(title, icon, text)
  div(block='feature')
    div(elem='content')
      span(elem='icon', class='glyphicon glyphicon-#{icon}')
      div(elem='title') #{title}
      div(elem='text') #{text}
      
doctype html
html
  head(lang="en")
    title DIY — Javascript that compiles to a Makefile
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    script(type="text/javascript", src="client.js")
    //- // if lt IE 9
    //-   script(type="text/javascript", src="js/html5shiv.js")
  body
    a(block="github", href="https://github.com/vzaccaria/diy")
      img(elem="img", style="position: absolute; top: 0; left: 0; border: 0;", 
        src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67",
        alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png") 

    div(block='page')
      div(block='intro')
        img(elem='logo', src='images/drill.png')
        div(elem='title') DIY
        div(elem='subtitle') Javascript that compiles to a Makefile
        a(elem='docslink', href="docs/index.html") read the docs
            

      div(block='content')
        div(block='hr')
        div(elem="title", mod="role:feature-list-title") features
        +feature('build systems dsl',                          'pencil',    'DIY is a build language embedded in Javascript. It allows to generate Make files for your web site or web app.')
        +feature('tailored for web',                           'flash',     'All classic transforms are supported such as reductions (e.g., concatenation), post-processing (e.g., minification) and so on..')
        +feature('parallel builds',                            'tasks',     'Enables Make to exploit available parallelism.')
        +feature('incremental builds',                         'forward',   'Compile only what has changed.')
        +feature('"do it yourself" customization',             'wrench',    'Specify directly how build tools should be invoked on the command line.')
        +feature('library of transforms',                      'briefcase',  'DIY comes with a library of transforms already baked in.')
          
      
      div(block='content')
        div(block='hr')
        div(block='paragraph', mod='width:large')
            :markdown
              {{manual}}
              
  
    footer(block='footer')
      div(block='content', mod='position:footer') 
        div(block='paragraph', mod='position:footer')
          :markdown
            ## [© vittorio zaccaria, 2015](http://www.vittoriozaccaria.net/v2/)
      
        div(block='paragraph', mod='role:share')
          #indiesocial-init(data-indieSocialServices="all", 
                            data-addFontelloIcon="true", 
                            data-URL="https://github.com/vzaccaria/diy", 
                            data-title="DIY — Javascript that compiles to a Makefile")
                        



    //- script(type="text/javascript").
    //-   document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')
    //- 
    //- // if IE
    //-   script(type="text/javascript", src="js/placeholder.js")
